<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2> {{'LED.TITLE' | translate}}
      </h2>
      <span style="float: right;" data-toggle="modal" data-target="#myModal" target="_blank"><span
          class="fa fa-plus-circle fa-2x"></span></span>
      <div>
        <div class="row">
          <div class="col-sm-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
              <thead>
                <tr role="row">
                  <th> {{'COMMON.NAME' | translate}}</th>
                  <th>{{'LED.BASE' | translate}}</th>
                  <th>{{'COMMON.OPTIONS' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ledService.leds">
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.base }}</td>
                  <td>
                    <span class="btn btn-default" (click)="execute(item)"><i class="fa fa-play fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="clone(item)"><i class="fa fa-clone fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="update(item)"><i class="fa fa-edit fa-sm"></i></span>
                    <span class="btn btn-default" ng-click="delete(item._id)"><i class="fa fa-trash fa-sm"></i></span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>{{'COMMON.NAME' | translate}}</th>
                  <th>{{'LED.BASE' | translate}}</th>
                  <th>{{'COMMON.OPTIONS' | translate}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Script -->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ accion }} Script</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" ng-model="nombre" placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="clear()">Cerrar</button>
                    <button type="button" ng-show="icon" ng-click="create()" class="btn btn-primary"
                       >Salvar</button>
                    <button type="button" ng-show="!icon" ng-click="updatesend()" class="btn btn-primary"
                       >Actualizar</button>
                </div>
            </div>
        </div>
    </div> -->
  <!-- Modal Script -->
</div>
